@bg-color-main: #ffffff;
@bg-color-blue: #81b3d2;
@bg-color-blue--lightest: #bcd6e7;
@bg-color-blue--lighten: #9ac2db;
@bg-color-blue--darken: #678fa8;
@bg-color-gray: #eeeeee;
@bg-color-gray--darken: #e5e5e5;
@body-bg-color: #f2f2f2;

@text-color-main: #000000;
@text-color-secondary: #333333;
@text-color-white: #ffffff;
@text-color-error: #ff5c5c;

@font-size-main: 18px;
@font-size-main--bigger: 21px;
@font-size-secondary: 14px;
@font-family: "PT Sans", "Arial", sans-serif;

@line-height-main: 26px;
@line-height-secondary: 24px;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";
