.booking {
  padding-top: 23px;

  .section-header {
    margin-bottom: 35px;
  }

  .section-header__title {
    margin-bottom: 19px;
    font-size: @font-size-main--bigger;
  }
}

.booking__btn {
  width: 280px;
  padding: 18px 0;
  margin-bottom: 49px;
}

@media @tablet-width {

  .booking {
    padding-top: 55px;

    .section-header {
      margin-bottom: 43px;
    }

    .section-header__title {
      margin-bottom: 30px;
      font-size: @font-size-main--biggest;
    }

    .section-header__text {
      width: 450px;
      margin: 0 auto;
      line-height: @line-height-secondary;
    }
  }

  .booking__btn {
    width: 458px;
    margin-bottom: 58px;
  }
}

@media @desktop-width {
  .booking {
    .section-header {
      margin-bottom: 47px;
    }
  }
}
