.btn {
  display: block;
  margin: 0 auto;
  padding: 18px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: @line-height-main;
  color: @text-color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @bg-color-blue;
  box-sizing: border-box;
}
