.features {
  text-align: center;

  .section-header {
    margin-bottom: 17px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
}


@media @tablet-width {

  .features {
    .section-header {
      margin-bottom: 55px;
    }
  }

  .features__wrapper {
    flex-direction: row;
  }
}

@media @desktop-width {
  .features {
    .section-header {
      margin-bottom: 55px;
    }
  }
}
