.feature-item {
  position: relative;
  text-align: center;
  color: @text-color-white;

  &--dark {

    border-bottom: 1px solid #d6d6d6;

    .feature-item__content {
      background-color: @bg-color-gray;
    }

    .feature-item__title {
      color: @text-color-main;
    }

    .feature-item__number,
    .feature-item__text {
      color: @text-color-secondary;
    }
  }
}

.feature-item__content {
  padding: 43px 20px;
  background-color: @bg-color-blue;

  &--first {
    padding-top: 80px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.feature-item__title {
  font-size: @font-size-main;
  line-height: @line-height-main;
  font-style: bold;
}

.feature-item__text {
  font-size: @font-size-secondary;
  line-height: 21px;
}

@media @tablet-width {
  .feature-item {
    display: flex;
    flex-direction: row;

    &--dark {
      .feature-item__content {
        padding: 50px;
      }
    }
  }

  .feature-item--reverse {

    .feature-item__image {
      order: -1;
    }
  }

  .feature-item__content {
    width: 256px;
    padding: 38px 47px;
    box-sizing: border-box;
    background-image: none;
  }
}

@media @desktop-width {
  .feature-item {
    display: flex;
    flex-direction: row;

    img {
      width: 800px;
    }

    &--dark {

    }
  }

  .feature-item__content {
    width: 400px;
    padding: 0;
    box-sizing: border-box;
    background-image: none;
  }
}
