.features {
  text-align: center;

  .section-header {
    margin-bottom: 7px;
  }

  .section-header__title {
    margin: 0 10px;
    margin-bottom: 27px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
}


@media @tablet-width {

  .features {
    .section-header {
      margin: 0 80px;
      margin-bottom: 50px;
    }

    .section-header__title {
      margin-bottom: 27px;
    }
  }

  .features__wrapper {
    flex-direction: row;
  }
}

@media @desktop-width {
  .features {
    .section-header {
      width: 500px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .section-header__title {
      margin-bottom: 27px;
    }
  }
}
