.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__block {
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  padding-bottom: 20px;
  margin: 0;
  border: none;
  border-top: 1px solid @bg-color-gray--darken;
  box-sizing: border-box;

  &:last-of-type {
    margin-bottom: 65px;
    padding-bottom: 0;
  }

  &:first-of-type {
    .feedback-form__input--longer {
      width: 230px;
    }
  }

  &:nth-of-type(2) {
    .feedback-form__control {
      flex-direction: column;
      margin-bottom: 10px;
    }

    .feedback-form__input {
      margin-left: 0;
    }

    .feedback-form__input-group,
    .feedback-form__label,
    .feedback-form__error-message {
      align-self: flex-start;
      margin-left: 0;
    }

    .feedback-form__label,
    .feedback-form__error-message {
      margin-left: 22px;
    }

    .feedback-form__label {
      margin-bottom: 8px;
    }

    .feedback-form__error-message {
      margin-top: 10px;
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    .feedback-form__control {
      justify-content: flex-start;
      align-items: center;
    }

    .feedback-form__label {
      font-family: @font-family-bold;
      font-size: @font-size-main;
      line-height: @line-height-main;
      text-transform: none;
    }
  }

  &:nth-of-type(3) {
    .feedback-form__control:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}

.feedback-form__inner {
  display: flex;
  flex-direction: column;
}

.feedback-form__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 58px;
  box-sizing: border-box;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.feedback-form__title {
  margin-bottom: 20px;
  font-family: @font-family-bold;
  font-size: @font-size-main;
  line-height: @line-height-main;
  text-align: center;
}

.feedback-form__input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 280px;
  box-sizing: border-box;

  .feedback-form__input {
    width: 222px;
    border-right: none;
  }
}

.feedback-form__input {
  width: 192px;
  padding: 12px 16px;
  margin-left: 14px;
  font-family: @font-family-bold;
  font-size: @font-size-main;
  line-height: @line-height-main;
  color: @text-color-main;
  text-align: left;
  box-sizing: border-box;
  background-color: @body-bg-color;
  border: 4px solid @body-bg-color;
  outline: none;

  &:hover {
    background-color: @bg-color-gray--darken;
    border-color: @bg-color-gray--darken;
  }

  &:focus {
    background-color: transparent;
  }
}

.feedback-form__input-addon {
  position: relative;
  width: 58px;
  background-color: #e6e6e6;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.feedback-form__label {
  font-size: @font-size-secondary;
  line-height: @line-height-main;

  &--hidden {
    display: none;
  }
}

.feedback-form__error-message {
  font-size: @font-size-secondary;
  line-height: @line-height-main;
  text-transform: none;
  color: @text-color-error;
}

.feedback-form__textarea {
  width: 100%;
  max-height: 160px;
  margin: 0;
  padding: 21px;
  font-family: @font-family-bold;
  font-size: @font-size-main;
  line-height: @line-height-main;
  background-color: @body-bg-color;
  border: 4px solid @body-bg-color;
  resize: none;
  outline: none;
  box-sizing: border-box;

  &:hover {
    background-color: @bg-color-gray--darken;
    border-color: @bg-color-gray--darken;
  }

  &:focus {
    background-color: transparent;
  }
}

.feedback-form__btn {
  width: 280px;
  border: none;
  font-weight: bold;
}

.feedback-form__legend {
  display: none;
  font-size: @font-size-secondary;
  line-height: @line-height-main;
}

.feedback-form__radio,
.feedback-form__checkbox {
  display: none;
}

.feedback-form__radio + .feedback-form__label {
  position: relative;
  padding-left: 75px;

  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: @body-bg-color;
    content: "";
  }

  &:hover {
    &:before {
      background-color: @bg-color-gray--darken;
    }
  }
}

.feedback-form__radio:checked + .feedback-form__label {

  &:after {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
    content: "";
  }
}

.feedback-form__checkbox + .feedback-form__label {
  position: relative;
  padding-left: 80px;


  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: @body-bg-color;
    content: "";
  }

  &:hover {
    &:before {
      background-color: @bg-color-gray--darken;
    }
  }

  &:active {
    &:before {
      background-color: @bg-color-gray--darkest;
    }
  }
}

.feedback-form__checkbox:checked + .feedback-form__label {

  &:after {
    position: absolute;
    left: 17px;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    width: 23px;
    height: 16px;
    content: "";
    background-image: url(../img/icons/icon-tick.svg);
    background-repeat: no-repeat;
  }
}

@media @tablet-width {
  .feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback-form__block {
    width: 50%;
    padding: 25px 0;
    border: none;

    &:first-of-type,
    &:nth-of-type(3) {
      .feedback-form__title {
        text-align: left;
        margin-bottom: 55px;
      }
    }

    &:first-of-type {
      position: relative;

      .feedback-form__control {
        justify-content: flex-end;
      }

      .feedback-form__input {
        width: 178px;
      }

      .feedback-form__input--longer {
        width: 217px;
      }

      .feedback-form__title {
        margin-left: 55px;
      }

      &:before {
        position: absolute;
        top: 25px;
        left: 0;
        width: 1px;
        bottom: 25px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    &:nth-of-type(3) {
      order: -1;

      .feedback-form__control:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    &:nth-of-type(4),
    &:nth-of-type(2),
    &:nth-of-type(5) {
      width: 100%;
    }

    &:nth-of-type(2) {
      padding-top: 50px;

      .feedback-form__control {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .feedback-form__input-group {
        width: 100%;

        &:first-of-type {
          order: 2;
        }
      }

      .feedback-form__input {
        width: 590px;
      }

      .feedback-form__error-message {
        margin-top: 0;
      }
    }

    &:nth-of-type(4) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 40px;

      .feedback-form__title {
        margin-bottom: 40px;
      }

      .feedback-form__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .feedback-form__control {
        width: 220px;
        margin-bottom: 32px;

        &:nth-of-type(2),
        &:first-of-type {
          margin-left: 95px;
        }

        &:nth-of-type(3) {
          order: 1;
        }

        &:nth-of-type(2),
        &:nth-of-type(4) {
          order: 2;
          margin-bottom: 0;
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          margin-left: 40px;
        }
      }
    }

    &:nth-of-type(5) {
      .feedback-form__title {
        margin-bottom: 50px;
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      .feedback-form__title {
        .side-line(124px);
      }
    }
  }

  .feedback-form__title {
    position: relative;
    font-size: 21px;
    line-height: @line-height-main;
  }

  .feedback-form__btn {
    width: 324px;
    margin: 0;
  }

  .feedback-form__legend {
    display: block;
    align-self: center;
  }
}

@media @desktop-width {
  .feedback-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .feedback-form__block {

    &:first-of-type,
    &:nth-of-type(3) {
      width: 400px;

      .feedback-form__input {
        width: 312px;

        &--longer {
          width: 350px;
        }
      }
    }

    &:first-of-type {
      .feedback-form__title {
        margin-left: 0;
      }

      &:before {
        left: -80px;
      }
    }

    &:nth-of-type(3) {
      .feedback-form__title {
        margin-left: 80px;
      }
    }

    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      .feedback-form__title {
        margin-bottom: 70px;
      }

      .feedback-form__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .feedback-form__control {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 480px;

        &:first-of-type {
          margin-bottom: 0;
        }
      }

      .feedback-form__label {
        align-self: center;
        margin: 0;
        margin-right: 16px;


        & + .feedback-form__label {
          display: none;
        }

        &--hidden {
          display: block;
        }
      }

      .feedback-form__input-group {
        width: 315px;
        align-self: center;
      }

      .feedback-form__input {
        width: 257px;
      }

      .feedback-form__error-message {
        order: -1;
      }
    }

    &:nth-of-type(4) {
      flex-direction: column;

      .feedback-form__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .feedback-form__control {
        justify-content: space-between;
        width: 240px;
        margin-bottom: 0;

        &:first-of-type,
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          margin-left: 0;
        }
      }

      .feedback-form__label {
        &:before {
          left: 0;
        }
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      .feedback-form__title {
        .side-line(280px);
      }
    }
  }

  .feedback-form__legend {
    display: block;
    align-self: center;
  }

  .feedback-form__btn {
    width: 480px;
  }
}
