.feedback-form__block {
  padding: 25px 0;
  border: none;
  border-top: 1px solid @bg-color-gray--darken;

  &:last-of-type {
    margin-bottom: 51px;
    padding-bottom: 0;
  }
}

.feedback-form__title {
  margin-bottom: 25px;
  font-size: @font-size-main;
  line-height: @line-height-main;
  font-style: bold;
  text-align: center;
}


