.main-content__promo {
  display: flex;
  margin-bottom: 43px;
  padding: 0 20px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  img {
    margin: auto;
  }
}

@media @tablet-width {
  .main-content__promo {
    padding: 70px 0;
  }
}
