.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
}

.main-footer__hashtag {
  margin-bottom: 40px;
  font-size: 21px;
  line-height: @line-height-main;
  font-weight: bold;
}

.main-footer__copyright {
  margin-bottom: 23px;
}

.main-footer__copyright-text {
  margin-right: 11px;
  font-size: @font-size-secondary;
  line-height: @line-height-main;
}

.main-footer__copyright-icon {
  display: inline-block;
  vertical-align: middle;
}

@media @tablet-width {

  .main-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .main-footer__hashtag,
  .main-footer__copyright {
    margin-bottom: 0;
  }
}

@media @desktop-width {

}
