.main-header {
  position: relative;
}

.main-header__inner {
  position: relative;
  min-height: 56px;
  background-color: @bg-color-main;
}

.main-header__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  width: 23px;
  height: 4px;
  background-color: @bg-color-blue;
  text-decoration: none;
  box-shadow: 0 8px 0 @bg-color-blue,
              0 16px 0 @bg-color-blue;
}

@media @tablet-width {

  .main-header__inner {
    display: none;
  }
}
