.photo-item {
  padding: 21px 0;
  border-bottom: 1px solid @bg-color-gray--darken;

  &:first-of-type {
    border-top: 1px solid @bg-color-gray--darken;
  }
}

.photo-item__title {
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @text-color-main;
  text-transform: uppercase;
}

.photo-item__author {
  text-transform: none;
  color: @text-color-secondary;
}
