.photos {
  margin-bottom: 33px;

  .section-header {
    margin-bottom: 27px;
  }

  .section-header__title {
    margin-bottom: 25px;
  }
}

@media @tablet-width {

  .photos {
    .container("tablet");
    margin-bottom: 69px;

    .section-header {
      margin: 0 105px;
      margin-bottom: 65px;
    }

    .section-header__title {
      margin-bottom: 30px;
      font-size: @font-size-main--biggest;
    }
  }

  .photos__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 68px;
  }
}

@media @desktop-width {
  .photos {
    .container();
    padding: 0;
  }

  .photos__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }
}
