.photo-item {
  padding: 21px 20px;
  padding-bottom: 0;
  border-bottom: 1px solid @bg-color-gray--darken;

  &:first-of-type {
    border-top: 1px solid @bg-color-gray--darken;
  }
}

.photo-item__title {
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @text-color-main;
  text-transform: uppercase;
}

.photo-item__author {
  text-transform: none;
  color: @text-color-secondary;
}

.photo-item__description {
  padding: 21px 0;
}

.photo-item__inner {
  margin: 0 20px;
}

@media @tablet-width {
  .photo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 324px;
    padding: 0;
    border: none;
    box-sizing: border-box;

    &:first-of-type {
      width: 100%;
      border: none;
    }
  }

  .photo-item__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px;
    background-color: @body-bg-color;
  }
}

@media @desktop-width {

  .photo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    position: relative;
  }

  .photo-item__description {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(26,19,15,0.3);
    box-sizing: border-box;
  }

  .photo-item__title,
  .photo-item__author {
    color: @text-color-white;
  }
}


