.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__controls {
  position: absolute;
  bottom: -37px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: 280px;
  padding: 20px;
  padding-bottom: 10px;
  min-height: 80px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 50%, @bg-color-gray 50%);
  box-sizing: border-box;
}

.player__controls-item {
  padding: 0;
  border: none;
  background-color: transparent;

  &--replay {
    margin-right: auto;
  }

  &--fullscreen {
    margin-left: 20px;
  }

  &--progress-bar {
    position: relative;
    width: 300px;
  }

  svg {
    display: inline-block;
    vertical-align: middle;

  }
}

.player__scale {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 3px;
  background-color: rgba(109,96,85,0.6);
}

.player__current {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  background-color: @bg-color-main;
  border-radius: 50%;
}

@media @tablet-width {
  .player__controls {
    bottom: 4px;
    align-items: center;
    align-content: center;
    width: 648px;
    padding: 0 20px;
    background: rgba(0,0,0,0.6);
  }

  .player__controls-item {
    &--replay {
      order: -1;
      margin-right: auto;
    }

    &--progress-bar {

    }

    &--subtitles {
      margin-left: auto;
    }

    svg {
      fill: @bg-color-main;
    }
  }
}


