.section-header {
  text-align: center;
}

.section-header__title {
  margin-bottom: 40px;
  font-size: @font-size-main;
  line-height: @line-height-main;
  color: @text-color-main;
  font-weight: bold;
}

.section-header__text {
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @text-color-secondary;
}
