.services {
  .container();
  padding-top: 26px;
  padding-bottom: 42px;
}

.services__title {
  font-size: @font-size-main;
  line-height: @line-height-main;
}

.services__text {
  font-size: @font-size-secondary;
  line-height: 21px;
}

@media @tablet-width {

  .services {
    .container();
    padding: 0;
    .clearfix();
  }

  .services__item {
    float: left;
    width: 256px;
    padding: 0 45px;
    padding-top: 165px;
    padding-bottom: 76px;
    box-sizing: border-box;
  }
}


@media @desktop-width {

  .services {
    // .container();
    padding: 0;
    .clearfix();
  }

  .services__item {
    float: left;
    width: 400px;
    padding: 0 45px;
    padding-top: 165px;
    padding-bottom: 76px;
    box-sizing: border-box;
  }
}
