.services {
  padding-top: 26px;
  padding-bottom: 42px;
}

.services__title {
  font-size: @font-size-main;
  line-height: @line-height-main;
}

.services__text {
  font-size: @font-size-secondary;
  line-height: 21px;
}
