.video {
  margin-bottom: 80px;

  .section-header {
    margin-bottom: 40px;
  }
}

@media @tablet-width {
  .video {
    margin-bottom: 100px;

    .container("tablet");
    .section-header {
      margin-bottom: 78px;
    }

    .section-header__title {
      font-size: @font-size-main--biggest;
    }

    .section-header__text {
      line-height: @line-height-secondary;
    }
  }
}

@media @desktop-width {
  .video {
    .container();
    padding: 0 200px;
    box-sizing: border-box;
  }
}
