.video {
  margin-bottom: 102px;

  .section-header {
    margin-bottom: 40px;
    margin: 0 38px;
  }

  .section-header__title {
    margin-bottom: 25px;
  }

  .section-header__text {
    margin-bottom: 35px;
  }
}

@media @tablet-width {
  .video {
    margin-bottom: 36px;

    .container("tablet");
    .section-header {
      width: 420px;
      margin: 0 auto;
      margin-bottom: 78px;
    }

    .section-header__title {
      margin-bottom: 30px;
      font-size: @font-size-main--biggest;
    }

    .section-header__text {
      line-height: @line-height-secondary;
    }
  }
}

@media @desktop-width {
  .video {
    margin-bottom: 85px;

    .container();
    padding: 0 200px;
    box-sizing: border-box;

    .section-header {
      margin-bottom: 72px;
    }

    .section-header__title {
      margin-bottom: 30px;
    }
  }
}
